{{#if err}}
<div class="error"> Oops, something went wrong.</div>
{{/if}}

<link rel="stylesheet" href="../../styles.css">

<a id="logout" href="/logout"><img src="../../icons8-export-80.png"></a>

<h1>The citizens of {{this.city}} have signed this petition!</h1>

<ul id="list_signers">
  {{#listOfSigners}}
  <li><a href="{{url}}">{{this.first}} {{this.last}}</a> {{this.age}}</li>
{{/listOfSigners}}
</ul>
